<ion-header>
  <ion-toolbar>
    <ion-title>packages-of-direction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<div *ngFor="let PKG of PKGS" class="package" (click)="selectPackage(PKG)">
  <p>Name: {{PKG._PackageId.Name}}</p>
  <p>Type: {{PKG._PackageId.StructureType}}</p>
  <p>Price: {{PKG.Price | currency }} {{PKG._CurrencyId.Code}}</p>
  <div *ngFor="let HOTEL of PKG._HOTELS">
    {{HOTEL._HotelId.Name}} - {{HOTEL._RoomCategoryId.Name}}
  </div>
  <ion-button color="primary" >BOOK</ion-button>
</div>
</ion-content>
