<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        MY TRIP
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
    <ion-button color="primary" expand="block" (click)="go2Page('Location')">Insurance document</ion-button>
    <ion-button color="secondary" expand="block" (click)="go2Page('reservation')">Flight e-ticket</ion-button>
    <ion-button color="tertiary" expand="block" (click)="go2Page('Location')">Hotel Voucher</ion-button>
    <ion-button color="success" expand="block" (click)="go2Page('Location')">Destination guides</ion-button>
    <ion-button color="warning" expand="block" (click)="go2Page('Location')">Local Map</ion-button>
    <ion-button color="danger" expand="block" (click)="go2Page('restaurants')">Restaurants</ion-button>
    <ion-button color="dark" expand="block" (click)="go2Page('reservation')">Attractions</ion-button>
    <ion-button color="medium" expand="block" (click)="go2Page('voucher-wallet')">Voucher wallet</ion-button>
    <ion-button color="light" expand="block" (click)="go2Page('Location')">Itinerary</ion-button>
    <ion-button color="tertiary" expand="block" (click)="go2Page('Location')">Premium seat allocation</ion-button>
</ion-content>
