<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      MY TRIP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="main" text-center> 
        <div class="content">
          <button color="primary" expand="block" (click)="go2Page('insurance-document')">Insurance document</button>
          <button color="secondary" expand="block" (click)="go2Page('flight-eticket')">Flight e-ticket</button>
          <button color="tertiary" expand="block" (click)="go2Page('hotel-voucher')">Hotel Voucher</button>
          <button color="success" expand="block" (click)="go2Page('destination-guides')">Destination Guides</button>
          <button color="warning" expand="block" (click)="go2Page('local-map')">Local Map</button>
          <button color="danger" expand="block" (click)="go2Page('restaurants')">Restaurants</button>
          <!-- <ion-button color="dark" expand="block" (click)="go2Page('reservation')">Attractions</ion-button> -->
          <button color="medium" expand="block" (click)="go2Page('voucher-wallet')">Voucher wallet</button>
          <button color="light" expand="block" (click)="go2Page('itinerary')">Itinerary</button>
          <button color="tertiary" expand="block" (click)="go2Page('premium-seat-allocation')">Premium seat allocation</button>
        </div>
      </div>
</ion-content>