<ion-header>
  <ion-toolbar>
    <ion-title>packagesx</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <ion-grid class="inputs_header">
      <ion-row>
        <ion-col col-6>
          <ion-item lines="none">
            <ion-label>From</ion-label>
            <ion-select #froma (ionChange)="selectFrom(froma.value)">
              <ion-select-option *ngFor="let FROM of FROMs" [value]="FROM">{{FROM._DepartureLocationId.Name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6 style="border-left: 2px solid #ffffff;">
          <ion-item lines="none">
            <ion-label>To</ion-label>
            <ion-select #toa (ionChange)="selectTo(toa.value)">
              <ion-select-option *ngFor="let TO of TOs" [value]="TO">{{TO._DestinationCountryId.Name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="content" text-center>

      <ion-item lines="none" class="inputs">
        <ion-label>Departure From</ion-label>
        <ion-datetime display-format="MM/DD/YYYY" min="{{minYear}}" max="{{maxYear}}" [(ngModel)]="departureDate" name="departureDate"></ion-datetime>
      </ion-item>
      <ion-item lines="none" class="inputs">
        <ion-label>Departure To</ion-label>
        <ion-datetime display-format="MM/DD/YYYY" min="{{minYear}}" max="{{maxYear}}" [(ngModel)]="returnDate" name="returnDate"
          (ionChange)="search()"></ion-datetime>
      </ion-item>
      <ion-item lines="none" class="inputs">
        <ion-label>Choose Package</ion-label>
        <ion-select #pkg (ionChange)="selectPkg(pkg.value)">
          <ion-select-option>All</ion-select-option>
          <ion-select-option *ngFor="let PKG of PACKAGES" [value]="PKG">{{PKG.Name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none" class="inputs">
        <ion-label>Hotel Option</ion-label>
        <ion-select #roomCategory (ionChange)="selectRoomCategory(roomCategory.value)">
          <ion-select-option>All</ion-select-option>
          <ion-select-option *ngFor="let ROOMCATEGORY of ROOMCATEGORIES" [value]="ROOMCATEGORY">{{ROOMCATEGORY.Name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none" class="inputs">
        <ion-label>Hotel Name</ion-label>
        <ion-select #hotelName (ionChange)="selectHotel(hotelName.value)">
          <ion-select-option>All</ion-select-option>
          <ion-select-option *ngFor="let PKG of HOTELS" [value]="PKG">{{PKG.Name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none" class="inputs">
        <ion-label>Category</ion-label>
        <ion-select #hotelStar (ionChange)="selectHotelStar(hotelStar.value)">
          <ion-select-option>All</ion-select-option>
          <ion-select-option *ngFor="let HOTELSTAR of HOTELSTARS" [value]="HOTELSTAR">{{HOTELSTAR.Name}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none" class="inputs">
        <ion-label>Meal</ion-label>
        <ion-select #meal (ionChange)="selectMeal(meal.value)">
          <ion-select-option>All</ion-select-option>
          <ion-select-option *ngFor="let MEAL of MEALS" [value]="MEAL">{{MEAL.Name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none" class="inputs">
        <ion-label>Departure Flight Class</ion-label>
        <ion-select #depFlight (ionChange)="selectDepFlight(depFlight.value)">
          <ion-select-option>All</ion-select-option>
          <ion-select-option *ngFor="let DEPFLIGHT of DEPFLIGHTS" [value]="DEPFLIGHT">{{DEPFLIGHT.FlightClassType}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none" class="inputs">
        <ion-label>Arrival Flight Class</ion-label>
        <ion-select-option>All</ion-select-option>
        <ion-select #arrFlight (ionChange)="selectArrFlight(arrFlight.value)">
          <ion-select-option *ngFor="let ARRFLIGHT of ARRFLIGHTS" [value]="ARRFLIGHT">{{ARRFLIGHT.FlightClassType}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <ion-item lines="none" class="inputs_harf">
              <ion-label>Adults</ion-label>
              <ion-select #adult (ionChange)="selectAdult(adult.value)">
                <ion-select-option>All</ion-select-option>
                <ion-select-option *ngFor="let ADULT of ADULTS" [value]="ADULT">{{ADULT.Adults}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-item lines="none" class="inputs_harf">
              <ion-label>Children</ion-label>
              <ion-select #child (ionChange)="selectChild(child.value)">
                <ion-select-option>All</ion-select-option>
                <ion-select-option *ngFor="let CHILD of CHILDREN" [value]="CHILD">{{CHILD.Children}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="btn">
        <button expand="block" (click)="search()">SEARCH</button>
      </div>

      <div *ngFor="let PKG of filter_PKGS; let id = index" class="filterPackage">
        <p>{{i}}</p>
        <p class="packageName">{{PKG._PackageId.Name}}</p>
        <p>{{PKG._PackageId.StructureType}}</p>
        <p>{{PKG._HOTELS[0]._HotelId.Name}}</p>
        <p>Star: {{PKG._HOTELS[0]._HotelStar.Name}}</p>
        <p>Room: {{PKG._HOTELS[0]._RoomCategoryId.Name}}</p>
        <p>Adults: {{PKG._HOTELS[0].Adults}}</p>
        <p>Children: {{PKG._HOTELS[0].Children}}</p>
        <p>Meal: {{PKG._MEAL.Name}}</p>
        <p>Departure Flight Class {{PKG.FlightServices.PackageSearchResultFlightService[0].FlightClassType}}</p>
        <p>Return Flight Class {{PKG.FlightServices.PackageSearchResultFlightService[1].FlightClassType}}</p>
      </div>

    </div>
  </div>

  
  <!-- 
  <div id="datePicker" style="visibility: none">
    <ion-datetime #datePicker1 pickerFormat="DD/MM/YYYY" min="{{minYear}}" max="{{maxYear}}" (ionChange)="changeDate1($event)"
      placeholder="Date"></ion-datetime>
    <ion-datetime #datePicker2 pickerFormat="DD/MM/YYYY" min="{{minYear}}" max="{{maxYear}}" (ionChange)="changeDate2($event)"
      placeholder="Date"></ion-datetime>
  </div> -->
</ion-content>