// .main{
//     background-image: url('../../assets/imgs/bg-profile.png');
//     background-repeat: repeat;
//     background-size: 100% 100%;
//     background-attachment: fixed;
//     // height: 100vh;
    
// }
.content
{
    width: 90%;
    text-align: left;
    margin: 0 auto;
    padding-top: 5vh;
}
ion-grid
{
    padding: 0 !important;
    margin: 0 !important;
    //color: #FFFFFF !important;
    //text-transform: uppercase;
}
.in-item .hydrated
{
   display: none !important;
}

.inputs {
    background: transparent;
    background-image: url('../../assets/imgs/bg_pk_full.png') !important;
    background-size: 100% 100% !important;
    width: 100% !important;
    height: 50px !important;
    border: none;
    margin: 5px 0;
    //padding: 10px 0;
    text-align: left;
    //font-size: 26px;
    color: black;
}
.sc-ion-label-ios-h {
    margin: 0 !important;
}
.inputs_harf .select-icon {
    visibility: hidden;
}
.select-icon-inner, .select-icon, .select-text {
    display: none !important;  /* hidden triangle icon and selected text */
}

.inputs_harf {
    background: transparent;
    background-image: url('../../assets/imgs/bg_pk_harf.png') !important;
    background-size: 100% 100% !important;
    width: 100% !important;
    height: 50px !important;
    border: none;
    margin:0;
    //padding: 10px 0;
    text-align: left;
    //font-size: 26px;
    color: black !important;
}

.inputs_header .ion-label
{
    color: white !important;
}

.inputs_header{
    background: transparent;
    background-image: url('../../assets/imgs/bg_tittle_pk.png') !important;
    background-size: 100% 100% !important;
    width: 100% !important;
    //height: 50px !important;
    border: none;
    //margin: 5px 0;
    //padding: 10px 0;
    text-align: left;
    //font-size: 26px;
    color: white;
}

.inputs_header .inputs {
    background: transparent;
    background-image: url('../../assets/imgs/bg_pk_full.png') !important;
    background-size: 100% 100% !important;
    width: 100% !important;
    height: 30px !important;
    border: none;
    margin: 5px 0;
    //padding: 10px 0;
    text-align: left;
    //font-size: 26px;
    color: black;
}


.btn{
    padding-top: 4vh;
    padding-bottom: 2vh;
    text-align: center;
}

.btn button{
    background: transparent;
    background-image: url('../../assets/imgs/bg_login.png');
    background-size: 100% 100%;
    width: 80%;
    height: 50px;
    border: none;
    margin: 10px 0;
    padding: 10px 0;
    color: #ffffff;
    font-size: 26px;
    
}
:host(.in-item) {
    position: static;
    max-width: 100% !important;
}
.filterPackage{
    background: #eeeeee;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin: 5px;
    text-align: left;
    padding: 10px;
}
.packageName{
    text-align: center;
    font-weight: bold;
}

:host {
    ion-content {
      --background: url('../../assets/imgs/bg-profile.png') center;
    //   background-repeat:repeat;
      background-size: 100% 100%;
      background-attachment: fixed;
    }
}

mat-form-field{
    visibility: hidden;
    background: white;
    width: 100%;
}