<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      LOGIN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="main" text-center >
    <!-- <ion-item>
      <ion-input #email required type="text" placeholder="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input #pw required type="password" placeholder="Password"></ion-input>
    </ion-item>
    <ion-button color="secondary" expand="block" (click)="login(email.value, pw.value)">Login</ion-button> -->
    <div class="login-tittle">Please <br /> LOGIN or REGISTER an account to book the chosen flight and hotel</div>
    <div class="inputs">
      <input #email required type="text" placeholder="Email">
      <input #pw required type="password" placeholder="Password">
    </div>
    <div class="btn">
      <button (click)="login(email.value, pw.value)">Login</button>
    </div>

    <div class="login-tittle-or">Or login with</div>
    <div class="social-btn">
      <a href="#" class="icon-facebook" style="height:10px;"><img src="../../assets/imgs/icon-facebook.png"/></a> 
      <a href="#" class="icon-twitter"> <img src="../../assets/imgs/icon-twitter.png"/></a> 
      <a href="#" class="icon-email"><img src="../../assets/imgs/icon-email.png"/></a></div>
  </div>

</ion-content>
