<ion-header>
  <ion-toolbar>
    <ion-title>INSURANCE DOC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="main">
        <div class="content">
            <div *ngFor="let ITEM of INSURANCES">
                <!-- <object data='{{FL.FILE}}'>
                  <p>Oops! Your browser doesn't support PDFs!</p>
                  <a href="{{FL.FILE}}">Download Instead</a>
                </object> -->
                <button (click)="open_pdf(ITEM)">Open Insurance Document</button>
              </div>
              <div *ngIf="INSURANCES.length<1" class="Alert_none">
                Sorry, you don't have any Insurance Document yet
              </div>
        </div>
      </div>
  
</ion-content>