<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Hotels
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Checkin</ion-card-subtitle>
            <ion-card-title>
              <ion-datetime display-format="MM/DD"></ion-datetime>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Checkout</ion-card-subtitle>
            <ion-card-title>
              <ion-datetime display-format="MM/DD"></ion-datetime>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item>
    <ion-label>Country</ion-label>
    <ion-select ok-text="Okay" cancel-text="Dismiss" (ionChange)="selectCountry()" [(ngModel)]="ISO">
      <ion-select-option value="VN">Vietnam</ion-select-option>
      <ion-select-option value="TH">Thailand</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item *ngIf="LOCATIONS.length>0">
    <ion-label>Location</ion-label>
    <ion-select #item1 (ionChange)="selectLocation1(item1)">
      <ion-select-option *ngFor="let loc of LOCATIONS" [value]="loc">{{loc.Name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Adult</ion-label>
    <ion-input type="number" [(ngModel)]="numOfAdult"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">ChildAges</ion-label>
    <ion-input type="number" [(ngModel)]="ChildAges"></ion-input>
  </ion-item>
  <ion-button color="primary" expand="block" (click)="searchHotels()">Search</ion-button>

  <!-- <ion-card *ngFor="let HOTEL of HOTELS" (click)="do">
    <ion-card-header>
      <ion-card-title>{{HOTEL.Hotel.Name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Category: {{HOTEL.Hotel.Category.Name}}</p>
      <p>Location: {{HOTEL.Hotel.Location.Name}}</p>
      <p>Options: {{HOTEL.Hotel.Location.Name}}</p>
      <p>Room: {{HOTEL.Combinations[0].RoomCategory.Name}}</p>
      <p>Meal: {{HOTEL.Combinations[0].Meal.Code}}</p>
      <p>Accomodation: {{HOTEL.Combinations[0].AccommodationsDescription}}</p>
      <p>Price: {{HOTEL.Combinations[0].Price}} {{HOTEL.Combinations[0].PriceCurrencySymbolOrCode}} </p>
    </ion-card-content>
  </ion-card> -->

  <div *ngIf="HOTELS.length>0" >
    <div class="hotel" *ngFor="let HOTEL of HOTELS">
      <p>Name: {{HOTEL.DETAIL.Name}}</p>
      <p>Star: {{HOTEL.DETAIL._CategoryId?.Name}}</p>
      <p>Location: {{HOTEL.DETAIL._LocationId?.Name}}</p>
      <p>Area: {{HOTEL.DETAIL._LocationAreaId?.Name}}</p>
      <p>Meal: {{HOTEL._MEALS[0]?.Name}}</p>
    </div>
  </div>

</ion-content>