<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        DESTINATION GUIDES
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div class="main">
    <div class="content">
        <div id="dest-guide" *ngFor="let GUIDE of GUIDES">
            <div class="itinerary">{{GUIDE.itinerary_en}}</div>
            <div id="myHTML" [innerHTML]='GUIDE.destination_guide_en'></div>
          </div>
    </div>
  </div>
</ion-content>
