<ion-slides pager="true" [options]="slideOpts" #mySlider (ionSlidesDidLoad)="slidesDidLoad(mySlider)">
  <!-- <ion-slide *ngFor="let DEAL of DEALS" (click)="go2HotdealDeail(DEAL)" class="hotdeal">
    <div class="left-hotdeals">
      <img src="https://cluboto.net/upload/{{DEAL.feature_img}}" class="image-hotdeals" />
    </div>

  </ion-slide> -->
  <!-- <div *ngFor="let DEAL of DEALS">
    <ion-slide>
        <img src="https://cluboto.net/upload/{{DEAL.feature_img}}" class="image-hotdeals" />
    </ion-slide>
  </div> -->

  <!-- <ion-slide>
      <img src="https://cluboto.net/upload/{{DEALS[0]?.feature_img}}" class="image-hotdeals" />

  </ion-slide>
  <ion-slide>
      <img src="https://cluboto.net/upload/{{DEALS[0]?.feature_img}}" class="image-hotdeals" />
      
  </ion-slide>
  <ion-slide>
      <img src="https://cluboto.net/upload/{{DEALS[0]?.feature_img}}" class="image-hotdeals" />
      
  </ion-slide> -->

</ion-slides>