<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      RESTAURANTS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let RESTAURANT of RESTAURANTS" (click)="go2Restaurant(RESTAURANT)">
    <img src="https://cluboto.net/upload/{{RESTAURANT.featured_img}}" />
    <ion-card-content>
      <ion-card-title>
        {{RESTAURANT.name_en}}
      </ion-card-title>
      <p>
        {{RESTAURANT.address_en}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
