<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      HOTDEAL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card *ngIf="DEAL">
    <img src="http://pegas-smart-app.enablecode.com.vn/upload/{{DEAL.feature_img}}" />
    <ion-card-content>
      <ion-card-title>
        {{DEAL.title_en}}
      </ion-card-title>
      <p>
        {{DEAL.title_vn}}
      </p>
    </ion-card-content>
  </ion-card> -->
  <!-- <ion-card *ngIf="DEALINFO">
    <img src="http://pegas-smart-app.enablecode.com.vn/upload/{{DEAL.feature_img}}" />
    <ion-card-content>
      <ion-card-title>
        {{DEAL.title_en}}
      </ion-card-title>
      <p>
        {{DEAL.title_vn}}
      </p>
      <div>
        <p [innerHTML]="myHTML"> </p>
      </div>
    </ion-card-content>
  </ion-card> -->
  <div id="myHTML"></div>
  <ion-button>BOOK THIS TOUR</ion-button>
</ion-content>