<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
          CHOOSE YOUR TOUR
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <div class="log">
    <img src="http://primetour.ua/public/img/partners/pegas-logo.png" alt="">
  </div>
  <br>
  <ion-button color="primary" expand="block" (click)="go2Page('Location')">Fixed Package Tours</ion-button>
  <ion-button color="secondary" expand="block" (click)="go2Page('reservation')">Flighs & Hotels</ion-button>
  <ion-button color="tertiary" expand="block" (click)="go2Page('hotels')">Hotels</ion-button>
</ion-content>