<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
          CHOOSE YOUR TOUR
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <div class="main" text-center> 
        <div class="content">
          <div class="log">
            <img src="../../assets/imgs/logo_pegas.png" alt="">
          </div>
          <br>
          <button color="primary" expand="block" (click)="go2Page('Location')">Fixed Package Tours</button>
          <button color="secondary" expand="block" (click)="go2Page('reservation')">Flighs & Hotels</button>
          <button color="tertiary" expand="block" (click)="go2Page('hotels')">Hotels</button>
        </div>
      </div>
</ion-content>