<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="main" text-center> 
  <div class="content">
      <div id="avatar">
          <img src="https://ionicframework.com/dist/preview-app/www/assets/img/advance-card-bttf.png" alt="">
        </div>
        <div class="inputs">
          <input type="text" placeholder="First Name" [(ngModel)]="PROFILE.NameF" name="NameF">
        </div>
        <div class="inputs">
          <input type="text" placeholder="Last Name" [(ngModel)]="PROFILE.NameL" name="NameL">
        </div>
        <div class="inputs">
          <input type="text" placeholder="Email" [(ngModel)]="PROFILE.Mail" name="Mail">
        </div>
        <div class="inputs">
          <input type="text" placeholder="Phone Number" [(ngModel)]="PROFILE.Phone" name="Phone">
        </div>
        <div class="inputs">
          <input type="date" placeholder="Date of Birth" [(ngModel)]="PROFILE.DoB" name="DoB">
        </div>
        <div class="inputs">
          <input type="text" placeholder="Gender" [(ngModel)]="PROFILE.Gender" name="Gender">
        </div>
        <div class="inputs">
          <input type="text" placeholder="Address" [(ngModel)]="PROFILE.Address" name="Address">
        </div>
        <div class="inputs">
          <input type="text" placeholder="Passport" [(ngModel)]="PROFILE.Passport" name="Passport">
        </div>
        <ion-grid>
          <ion-row>
            <ion-col>
              <button class="cancel-profile" color="danger" expand="block" [routerLink]="['/home']" routerLinkActive="router-link-active"></button>
            </ion-col>
            <ion-col>
              <button class="save-profile" color="primary" expand="block" (click)="saveProfile()"></button>
            </ion-col>
          </ion-row>
        </ion-grid>
  </div>   
</div>
</ion-content>
