<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<div id="avatar">
  <img src="https://ionicframework.com/dist/preview-app/www/assets/img/advance-card-bttf.png" alt="">
</div>
<ion-item>
  <ion-input type="text" placeholder="First Name"></ion-input>
</ion-item>
<ion-item>
  <ion-input type="text" placeholder="Last Name"></ion-input>
</ion-item>
<ion-item>
  <ion-input type="text" placeholder="Email"></ion-input>
</ion-item>
<ion-item>
  <ion-input type="text" placeholder="Phone Number"></ion-input>
</ion-item>
<ion-item>
  <ion-input type="date" placeholder="Date of Birth"></ion-input>
</ion-item>
<ion-item>
  <ion-input type="text" placeholder="Gender"></ion-input>
</ion-item>
<ion-item>
  <ion-input type="text" placeholder="Address"></ion-input>
</ion-item>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button color="secondary" expand="block" >Back</ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="primary" expand="block" >Save</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
