.main{
    background-image: url('../../assets/imgs/bg.jpg');
    // background-repeat: no-repeat;
    background-size: 100% 100%;
}
.hotdeal{
    background: #2f6fd6;
    border-radius: 5px;
    color: white;
    margin: 5px 0;
}