<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>SEARCH by DATE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="main" text-center>
    <div class="content">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card (click)="datePicker1.open()">
              <ion-card-header id="btn0">
                <ion-card-subtitle>Checkin</ion-card-subtitle>
                <ion-card-title>{{shortDate(checkinDate)}}</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card (click)="datePicker2.open()">
              <ion-card-header id="btn1">
                <ion-card-subtitle>Checkout</ion-card-subtitle>
                <ion-card-title>{{shortDate(checkoutDate)}}</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      <button class="btn-red" (click)="getDeals()"><span>Search</span></button>

      <div *ngFor="let DEAL of FINAL_DEALS" (click)="go2HotdealDeail(DEAL)" class="hotdeal">
        <div class="left-hotdeals">
          <img src="https://cluboto.net/upload/{{DEAL.feature_img}}" class="image-hotdeals" />
        </div>
        <div class="right-hotdeals">
          {{DEAL.title_en}}
        </div>
      </div>
    </div>
  </div>
  <div id="datePicker">
    <ion-datetime #datePicker1 pickerFormat="DD/MM/YYYY" min="{{minYear}}" max="{{maxYear}}" (ionChange)="changeDate1($event)"
      placeholder="Date"></ion-datetime>
    <ion-datetime #datePicker2 pickerFormat="DD/MM/YYYY" min="{{minYear}}" max="{{maxYear}}" (ionChange)="changeDate2($event)"
      placeholder="Date"></ion-datetime>
  </div>

  <!-- <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="myDate" name="myDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi #picker></mat-datepicker>
  </mat-form-field>
  <p>{{myDate}}</p> -->
</ion-content>