<ion-header>
  <ion-toolbar>
    <ion-title>local-map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map" #map></div>
  <div class="item-location">
    <div class="item-tittle">Eat</div>
    <img src="../../assets/imgs/location_map.png" class="img-location"/>
  </div>
<div class="cls"></div>
  <div class="item-location">
    <div class="item-tittle">Drink</div>
    <img src="../../assets/imgs/location_map.png" class="img-location"/>
  </div>
  <div class="cls"></div>
  <div class="item-location">
    <div class="item-tittle">Shop</div>
    <img src="../../assets/imgs/location_map.png" class="img-location"/>
  </div>

  <ion-fab left bottom>
    <button ion-fab color="danger" mini (click)="go2List()">
      <ion-icon name="md-swap"></ion-icon>
    </button>
  </ion-fab>
  <div class="disable-map"></div>
</ion-content>