<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      CHOOSE YOUR TOUR
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/notifications']" >
        <ion-icon slot="icon-only" name="md-notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main">
  <div id="body">
    <div class="container">
      <div text-center>
        <img src="../../assets/imgs/logo.png" alt="">
        <!-- <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card>
                <ion-card-header id="btn0">
                  <ion-card-subtitle>Checkin</ion-card-subtitle>
                  <ion-card-title>29/10</ion-card-title>
                </ion-card-header>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card>
                <ion-card-header id="btn1">
                  <ion-card-subtitle>Checkout</ion-card-subtitle>
                  <ion-card-title>30/10</ion-card-title>
                </ion-card-header>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid> -->
        <div class="dates"></div>
        <!-- <ion-grid>
          <ion-row>
            <ion-col>
              <div class="from">
                <div class="title">Checkin</div>
                <div class="value">20/10</div>
              </div>
            </ion-col>
            <ion-col>
              <div class="to">
                <div class="title">Checkout</div>
                <div class="value">25/10</div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid> -->
      </div>

      <button class="btn-white" (click)="go2Page('search-destination')"><span>Search by Destination</span></button>
      <button class="btn-white" (click)="go2Page('search-date')"><span>Search by Date</span></button>
      <!-- <button class="btn-white" (click)="go2Page('reservation')"><span>Reservation</span></button> -->
      <!-- <button *ngIf="isSigned" class="btn-white" (click)="go2Page('travel-journal')"><span>Travel Journal</span></button>
      <button *ngIf="isSigned" class="btn-white" (click)="go2Page('my-trip')"><span>My Trip</span></button> -->
      <button class="btn-red" (click)="go2Page('hotdeals')"><span>HOT DEAL</span></button>
      <button class="btn-red" (click)="go2Page('packages')"><span>PACKAGES</span></button>

    </div>
  </div>
</ion-content>