<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
 
  <div *ngIf="this.ACCOUNT.isSigned">
    Hi, {{this.ACCOUNT.email}}
    <ion-button color="secondary" expand="block" (click)="logout()">Logout</ion-button>
  </div>
  <div *ngIf="!this.ACCOUNT.isSigned">
    <div id="message">
      <p>Please LOGIN or REGISTER an account to book the chosen flight and hotel</p>
    </div>
    <ion-button color="secondary" expand="block" (click)="go2Page('login')">Login</ion-button>
    <ion-button color="primary" expand="block" (click)="go2Page('register')">Register</ion-button>
  </div>
</ion-content>