<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      LOGIN/REGISTER
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main" text-center> 
    <div class="content">
      <div class="message" *ngIf="!this.ACCOUNT.isSigned">
        <p>Please <br> LOGIN or REGISTER <br> an account to continue</p>
      </div>
      <div class="message" *ngIf="this.ACCOUNT.isSigned">
          Hi, {{this.ACCOUNT.profile.firstname}} {{this.ACCOUNT.profile.lastname}}
      </div>
      <div id="btn-group">
        <div *ngIf="this.ACCOUNT.isSigned">
          <button color="secondary" expand="block" (click)="logout()">Logout</button>
        </div>
        <div *ngIf="!this.ACCOUNT.isSigned">
          <button color="secondary" expand="block" (click)="go2Page('login')">Login</button>
          <button color="primary" expand="block" (click)="go2Page('register')">Register</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>